.posts {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  background-color: var(--color-white);
  margin-bottom: 2rem;
  /* height: 20rem; */
  width: 28rem;
  border-radius: 1.8rem;
  padding: 1rem 2rem;
  box-shadow: 0 10px 25px rgba(134, 133, 132, 0.282);
}
.iconMenu {
  color: var(--color-primary);
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardContent h2 {
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}
.cardContent h3 {
  color: var(--color-nav);
  text-align: center;
  margin-bottom: 1rem;
}
.cardContent img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-gray);
  padding: 6px;
}
.cardContent button {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 1rem 2.3rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContent button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.iconArrow {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.4rem;
}

.moreCardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}
.moreCardBody h4 {
  text-align: center;
  font-size: 1rem;
  color: var(--color-gray);
}
.moreCardBody h5 {
  color: var(--color-primary);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1.2rem;
}
.moreCardBody h6 {
  font-size: 0.8rem;
  color: var(--color-light);
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .post {
    width: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .post {
    width: 20rem;
  }
  .cardContent h2 {
    font-size: 1.2rem;
  }
  .cardContent h3 {
    font-size: 0.9rem;
  }
  .cardContent img {
    width: 80px;
    height: 80px;
  }
  .cardContent button {
    padding: 0.9rem 1.9rem;
    font-size: 0.9rem;
  }
  .moreCardBody h4 {
    font-size: 0.7rem;
  }
}
