.error_Neywork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.error_Neywork img {
  width: 11rem;
  height: 12rem;
  margin-bottom: 3rem;
}
.error_Neywork h3 {
  text-align: center;
  color: #f32013;
  font-size: 1.3rem;
}
