.navbar {
  background-color: var(--color-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

.navbar h1 {
  color: var(--color-primary);
}

.navbar span {
  color: var(--color-gray);
}
.navbar_list_active,
.navbar_list_notActive {
  display: flex;
}
.navbar_list_active li,
.navbar_list_notActive li {
  margin-inline: 1.75rem;
}
.navbar_list_active li a,
.navbar_list_notActive li a {
  display: block;
  color: var(--color-gray);
}
.navbar_list_active .active,
.navbar_list_notActive .active {
  color: var(--color-primary);
}
.hamburger_Menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 1rem 3rem;
  }
  .navbar_list_active li,
  .navbar_list_notActive li {
    margin-inline: 1.75rem;
  }
  .navbar h1 {
    font-size: 1.4rem;
  }
  .navbar_list_active li a,
  .navbar_list_notActive li a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 1rem 0.8rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_list_active {
    flex-direction: column;
  }
  .navbar_content {
    width: 100%;
  }
  .hamburger_Menu {
    display: block;
    color: var(--color-gray);
    font-size: x-large;
    cursor: pointer;
  }
  .navbar_list_active li {
    margin: 0.8rem 0 0.4rem 0;
    padding: 0.6rem 0;
  }
  .navbar_list_active li:hover {
    background-color: var(--color-bg);
  }
  .navbar_list_active li a {
    text-align: center;
  }
  .navbar_list_notActive {
    display: none;
  }
}
