.search_Not_Found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search_Not_Found img {
  width: 16rem;
  height: 16rem;
}
.search_Not_Found h3 {
  font-size: 2rem;
  color: var(--color-gray);
  margin-top: 1.6rem;
}
.search_Not_Found h4 {
  font-size: 1rem;
  color: var(--color-light);
}

/* Responsive */

@media screen and (max-width: 600px) {
  .search_Not_Found {
    margin-top: 6rem;
  }
  .search_Not_Found img {
    width: 14rem;
    height: 14rem;
  }
  .search_Not_Found h3 {
    font-size: 1rem;
  }
  .search_Not_Found h4 {
    font-size: 0.8rem;
    text-align: center;
  }
}
