.Not_found {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Not_found h2 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.Not_found img {
  width: 25rem;
  height: 18rem;
  margin-bottom: 1rem;
}
.Not_found h3 {
  color: var(--color-gray);
  font-size: 1.5rem;
}
.Not_found h4 {
  color: var(--color-light);
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
}
.Not_found button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 1.1rem;
  font-weight: 600;
  font-size: 0.9rem;
  transition: var(--transition);
  margin-top: 1rem;
}
.Not_found button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: scale(1.05);
}

/* Responsive */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  .Not_found {
    margin-top: 8rem;
  }
  .Not_found h2 {
    font-size: 4rem;
  }
  .Not_found img {
    width: 18rem;
    height: 15rem;
  }
  .Not_found h3 {
    font-size: 1rem;
  }
  .Not_found h4 {
    text-align: center;
    font-size: 0.8rem;
  }
  .Not_found button {
    padding: 1rem 1.8rem;
    background-color: var(--color-white);
  }
}
